#twitchcast-entryform-input {
  /* Frame */
  background-color: rgb(255, 255, 255);
  width: 325px;
  border-radius: 10px;
  border: solid 2px black;
}

#twitchcast-entryform-loader {
  /* Spinner */
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}